<div class="row mt-4">
  <div class="col-md-6 d-flex align-items-center">
    <h1 class="title">Animais</h1>
  </div>
</div>

<div class="row mt-4">
  <%= render "filtro" %>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <%= link_to new_animal_path, data: { turbo: false, controller: "animal-modal" }, class: "btn btn-default float-end small-font" do %>
      Cadastrar <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>
</div>

<div class="table-responsive table-animais mt-3 mb-5">
  <table class="table small-font">
    <thead>
      <tr>
        <th>Identificador</th>
        <th>Espécie</th>
        <th>Gênero</th>
        <th>Recinto</th>
        <th>Status</th>
        <th>Histórico</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="animais_list" >
      <% @animais.each do |animal| %>
        <%= render "animal", animal: animal %>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-5">
    <%= paginate @animais, params: { 
      identificador: @filtros[:identificador],
      especie_id: @filtros[:especie_id],
      genero: @filtros[:genero],
      recinto_id: @filtros[:recinto_id],
      status: @filtros[:status],
      ativo: @filtros[:ativo],
      commit: "Pesquisar",
    } %>
  </div>
</div>

