<% if error.present? %>
  <div id="error" class="alert alert-danger alert-dismissible fade show mt-3 col-md-6" role="alert" style="margin-left: 12px;">
    <span class="small-font"><%= error %></span>
    <button type="button" class="btn-close small-font" data-bs-dismiss="alert" aria-label="Fechar"></button>
  </div>
<% end %>