<%= turbo_frame_tag :remote_modal, target: :_top do %>
<div class="modal" tabindex="-1" data-controller="bs-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title small-font default-color">Atualização de status do animal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render "form_animal_status_modal", animal: animal %> 
    </div>
  </div>
</div>
<% end %>

